@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.input input::placeholder {
    color: #ffffff !important;
    opacity: 1 !important;
}

@theme {
  --font-inter: "Inter", sans-serif;
}